.body{
    background-color: rgb(184, 217, 255);
}

/***********************************INDEX***********************************/

.header-navegador{
    border: 10px solid black;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-left: 5px;
    width: 60px;
    height: 50px;
}

.titulo{
    margin-left: 300px;
}

.carousel-inner{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 750px;

}

.carousel-item img{
    width: 100px;
    height: 750px;
}


.caja-princ .imagen-princ{
    padding: 5px;
    width: 650px;
    height: 500px;
    border: 4px solid white;
    margin-top: 60px;
    margin-left: 95px;
    display: flex;
}

@media(max-width:1025px){
    .caja-princ .imagen-princ{
        width: 450px;
        height: 500px;
        margin: 25px auto;
    }
}

@media (max-width:600px){
    .caja-princ .imagen-princ{
        width: 300px;
        height: 300px;
        margin-left: 60px;
    }
}

@media (max-width:400px){
    .caja-princ .imagen-princ{
        width: 250px;
        height: 300px;
    }
}

.caja-princ .texto h2{
    width: 500px;
    height: 20px;
    justify-content: center;
    display: flex;
    margin-top: 25px;
    margin-left: 20px;
}

@media(max-width:1025px){
    .caja-princ .texto h2{
        width: 300px;
        height: 20px;
        margin: 25px auto;
    }
}

@media (max-width:600px){
    .caja-princ .texto h2{
        width: 300px;
        height: 30px;
        background-color: azure;
    }
}

@media (max-width:400px){
    .caja-princ .texto h2{
        width: 270px;
        height: 30px;
        background-color: azure;
    }
}

.caja-princ .texto h3{
    width: 650px;
    height: 515px;
    background-color: rgb(248, 248, 248);
    margin:0 auto;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
    justify-content: center;
    border: 1.5px solid rgb(255, 255, 255);
}

@media(max-width:1025px){
    .caja-princ .texto h3{
        width: 500px;
        height: 650px;
        margin: 25px auto;
    }
}

@media (max-width:600px){
    .caja-princ .texto h3{
        width: 300px;
        height: 800px;
    }
}

@media (max-width:400px){
    .caja-princ .texto h3{
        width: 270px;
        height: 860px;
    }
}
/************************diferencia de cajas***************************/
.caja-sec{
    width: 1300px;
    height: 680px;
    margin: 0px auto;
    padding: 5px;
}

@media (max-width:600px){
    .caja-sec{
        width: 290px;
        height: 850px;
    }
}

@media (max-width:400px){
    .caja-sec{
        width: 280px;
        height: 750px;
    }
}

.caja-sec .imagen-texto{
    padding: 10px;
    width: 800px;
    height: 500px;
    border: 4px solid white;
    margin-top: 50px;
}

@media(max-width:1025px){
    .caja-sec .imagen-texto{
        width: 500px;
        height: 450px;
    }
}

@media (max-width:600px){
    .caja-sec .imagen-texto{
        width: 300px;
        height: 300px;
    }
}
@media (max-width:400px){
    .caja-sec .imagen-texto{
        width: 250px;
    }
}

.caja-sec .texto {
    width: 300px;
    height: 500px;
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
}

@media(max-width:1025px){
    .caja-sec .texto{
        width: 400px;
        height: 450px;

    }
}

@media (max-width:600px){
    .caja-sec .texto{
        width: 250px;
        height: 600px;
        margin-top: 25px;
        margin-left: 15px;
    }
}

/***********************************UBICACION***********************************/
.section-ubi{
    width: auto;
    height: auto;
    margin-top: 50px;
    padding: 5px;
    
}

.art1{
    margin-left: 5px;
}

@media (max-width:600px){
    .figure{
        width: 300px;
    }
    iframe{
        width: 300px;
    }
}

/***********************************PREGUNTAS FRECUENTES***********************************/

.preguntas div img{
    margin-top: 20px;
    width: 650px;
    height: 700px;
    border: 5px solid white;
}

@media (max-width:600px){
    .preguntas div img{
        width: 300px;
        height: 300px;
    }
}


.preguntas div .col .card{
    width: 500px;
    height: auto;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 25px;
    text-align: center;
    display: grid;
}

@media (max-width:600px){
    .preguntas div .col .card{
        width: 300px;
        height: 280px;
    }
}



/***********************************CONTACTO***********************************/

.main-contacto{
    width: 1250px;
    height: 730px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 5px;
}

.main-contacto div div .col .imagen-formulario{
    margin-top: 20%;
}

@media (max-width:600px){
    .main-contacto .imagen-formulario .img-contacto{
        width: 200px;
        margin: 0 auto;
    }
}

.main-contacto div div .col form{
    margin-top: 5%;
}

@media (max-width:600px){
    .main-contacto {
        width: 300px;
        height: 900px;
    }
}

/***********************************PANEL DE ALUMNO***********************************/

.logo-banner{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.logo-banner img{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
}

.tablero{
    width: 300px;
    height: 20px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 481px;
    font-size: 20px;
    font-style: italic;
    font-variant: small-caps;
    font-family: monospace;
    letter-spacing: 4px;
    color: #000000;
    text-align:center;
    word-spacing: 8px;
}



/***********************************PIE DE PAGINA***********************************/
.footer{
    margin-top: 50px;
    background-color: rgb(165, 31, 31);
}

@media (max-width:400px){
    .footer{
        margin-top: 100px;
    }
}

.footer img{
    width: 90px;
    height: 50px;
    margin-top: 20px;
}

.footer a{
    font-size: 15px;
    color: white;
}