.footer{
    margin-top: 50px;
    background-image: linear-gradient(rgb(98, 124, 240) ,rgba(203, 222, 250, 0.795));
}

@media (max-width:400px){
    .footer{
        margin-top: 100px;
    }
}

.footer img{
    width: 90px;
    height: 50px;
    margin-top: 20px;
}

.footer a{
    font-size: 15px;
    color: rgb(0, 0, 0);
}